extends layout

block content
    main
        div(style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
            img(src="/assets-cdbattaglia/media/images/404.gif")
            h1 can't find article titled "#{title}"
